@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  @apply text-white relative;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.3s;
  margin-top: 5px; 
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item-active {
  @apply text-white relative;
}

.nav-item-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px; 
  background: white;
  transition: width 0.3s;
  margin-top: 5px; 
}

.clip-path-triangle {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    height: 300px; 
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  h2 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .page-item.active .page-link {
    @apply bg-orange-600 text-white border-white;
}

.page-link {
    @apply bg-white text-black;
}

.page-link:hover {
    @apply text-orange-600;
}
